{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h2>Vi har sendt saken til NAV Klageinstans</h2>
        {{> supdfgen/partials/fnr personalia }}
        <div class="preline">
            «KLAGE - SUPPLERENDE STØNAD
            KLAGER: {{personalia.fornavn}} {{personalia.etternavn}}
            F.NR: {{personalia.fødselsnummer}}
        </div>

        <p>Vi viser til din klage av {{klageDato}} på vedtak av {{vedtakDato}}.</p>

        <p>Vi har tatt vedtaket opp til ny vurdering, men ikke funnet grunnlag for å gjøre det om.</p>

        <p>Saken er derfor oversendt til NAV Klageinstans for klagebehandling. Kopi av vårt oversendelsesbrev med vår
            vurdering av din klage følger vedlagt.</p>

        <p>Klageinstansen kan prøve alle sider av saken på et selvstendig grunnlag. Resultatet av klagebehandlingen kan
            bli at vårt vedtak ikke blir endret eller at det blir endret helt eller delvis. Klageinstansen kan også
            oppheve vedtaket vårt og sende saken tilbake til oss for helt eller delvis ny behandling. </p>

        <p>Du vil få melding fra NAV Klageinstans når saken er avgjort.</p>

        <p>Saksbehandlingstiden i NAV Klageinstans er vanligvis X uker</p>

        <p>Har du spørsmål eller kommentarer til vårt oversendelsesbrev?
            Kontakt NAV Klageinstans på nav.no eller på telefon 21 07 17 30. Vi kan lettere gi deg rask og god hjelp
            hvis du oppgir fødselsnummeret ditt når du tar kontakt med NAV. </p>

        {{> supdfgen/partials/hilsen saksbehandler=saksbehandlerNavn }}
    </div>

    <div class="pagebreak"/>
    {{>supdfgen/partials/klageVurderingVedlegg }}

{{/supdfgen/partials/base}}

