{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h2>Vi har sendt saken til Nav Klageinstans</h2>
        <div class="preline">
            Fødselsnummer: {{personalia.fødselsnummer}}
        </div>

        <p>Vi har mottatt klagen din på vedtaket om supplerende stønad {{vedtakDato}}, og kommet
            frem til at det ikke endres. Nav Klageinstans skal derfor vurdere saken din på nytt.</p>

        <p>Informasjon om saksbehandlingstid finner du på nav.no.</p>

        <h2>Dette har vi lagt vekt på i vurderingen vår</h2>
        <p>Vi viser til vedtak av {{vedtakDato}} og klagen din på dette vedtaket som vi mottok
            {{klageDato}}.</p>

        <div class="preline"> {{fritekst}} </div>

        <p>Har du nye opplysninger eller ønsker å uttale deg, kontakt Nav
            Klageinstans på nav.no eller på telefon 21 07 17 30.</p>

        <h2>Du har rett til innsyn</h2>
        På <a title="Lenke til din side på nav.no">nav.no/minside</a> kan du se dokumentene i saken din.

        <h2>Har du spørsmål?</h2>
        <p> Du finner nyttig informasjon på <a title="Lenke til mer informasjon om supplerende stønad for uføre flykninger under 67 år">nav.no/supplerende-stonad-flyktninger</a>.</p>

        <p> Kontakt gjerne Nav Klageinstans på nav.no eller på telefon 21 07 17 30.
            Hvis du oppgir fødselsnummeret ditt når du tar kontakt med Nav, kan de
            lettere gi deg rask og god hjelp. </p>
    </div>

    {{> supdfgen/partials/hilsen saksbehandler=saksbehandlerNavn attestant=attestantNavn }}
{{/supdfgen/partials/base}}

