{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>Vi har avslått søknaden din om supplerende stønad</h2>
        {{> supdfgen/partials/fnr personalia }}

        <p>Vi har avslått fordi:</p>

        <ul class="avslagsgrunnContainer">
            {{#each avslagsgrunner}}
                {{#eq this "UFØRHET" }}
                    <li>Du har ikke fått vedtak om uføretrygd der vilkårene i folketrygdloven §§ 12-4 til 12-7 er oppfylte. Dersom du ikke har søkt uføretrygd, kan du kontakte NAV lokalt for å få vurdert om det er aktuelt.</li>
                {{/eq}}

                {{#eq this "FLYKTNING" }}
                    <li>Du har ikke status som flyktning etter § 28 i Utlendingsloven.</li>
                {{/eq}}

                {{#eq this "OPPHOLDSTILLATELSE" }}
                    <li>Du har ikke lovlig opphold i Norge.</li>
                {{/eq}}

                {{#eq this "BOR_OG_OPPHOLDER_SEG_I_NORGE" }}
                    <li>Du er ikke registrert bosatt i Norge.</li>
                {{/eq}}

                {{#eq this "INNLAGT_PÅ_INSTITUSJON" }}
                    <li>Du oppholder deg på institusjon.</li>
                {{/eq}}

                {{#eq this "UTENLANDSOPPHOLD_OVER_90_DAGER" }}
                    <li>Du skal oppholde deg utenfor Norge i mer enn 90 dager.</li>
                {{/eq}}

                {{#eq this "FORMUE" }}
                    <li>
                        {{#if harEktefelle}}
                            <span>Formuen du og ektefellen/samboeren din har til sammen er mer enn halvparten av folketrygdens grunnbeløp. For tiden er dette {{currency_no
                                    halvGrunnbeløp true}} kroner.</span>
                        {{else}}
                            <span>Formuen din er mer enn halvparten av grunnbeløpet, som for tiden er {{currency_no
                                    halvGrunnbeløp true}} kroner.</span>
                        {{/if}}
                        <span>
                            Hvis formuen din blir mindre, kan du søke om supplerende stønad på nytt.
                            Du kan ikke gi bort formuen din for å få rett til supplerende stønad.
                            Derfor må du dokumentere hva du har brukt formuen til hvis du søker på nytt.
                        </span>
                    </li>
                {{/eq}}

                {{#eq this "PERSONLIG_OPPMØTE" }}
                    <li>Du har ikke møtt personlig på NAV-kontoret, og du har ikke dokumentert at du har vært for syk
                        til å møte.
                    </li>
                {{/eq}}

                {{#eq this "FOR_HØY_INNTEKT" }}
                    <li>
                        {{#if harEktefelle}}
                            <span>Inntekten du og ektefellen/samboeren din har til sammen er for høy.</span>
                        {{else}}
                            <span>Du har for høy inntekt.</span>
                        {{/if}}
                        <span>
                            Inntekten er høyere enn det du kan få i supplerende stønad.
                        </span>
                    </li>
                {{/eq}}

                {{#eq this "SU_UNDER_MINSTEGRENSE" }}
                    <li>
                        <span>
                            Stønaden vi har beregnet til deg er for lav til at den kan utbetales.
                            Vi kan ikke utbetale stønad som er under to prosent av den høyeste stønadssatsen.
                        </span>
                        <br/>
                    </li>
                {{/eq}}
                {{#eq this "MANGLENDE_DOKUMENTASJON" }}
                    <li>
                        <p>
                            Du har ikke sendt inn den dokumentasjonen vi har bedt om. Vi har derfor ikke nødvendig informasjon for å kunne vurdere om du har rett til supplerende stønad.
                        </p>
                        <p>
                            Hvis vi mottar den dokumentasjonen vi har bedt om innen klagefristen, vil vi vurdere søknaden på ny.
                        </p>
                        <br/>
                    </li>
                {{/eq}}
            {{/each}}
        </ul>
        {{#if fritekst}}
            <p class="fritekst">{{fritekst}}</p>
        {{/if}}

        {{#if beregningsperioder }}
            {{> supdfgen/partials/beregning beregningsperioder }}
        {{/if}}

        <span>
            Vedtaket er gjort etter lov om supplerende stønad for personer med kort botid i Norge §§ {{> supdfgen/partials/commaSeparate avslagsparagrafer}}.
        </span>
    </div>
{{/supdfgen/partials/avslagBase}}
