{{#> supdfgen/partials/innvilgelseBase}}
    <div class="mainContent">
        <h2>Du får supplerende stønad</h2>
        {{> supdfgen/partials/fnr personalia }}

        <div>
            <p>
                Du får supplerende stønad fra {{fradato}} til og med {{tildato}} fordi du er
                {{#if erAldersbrev}}
                    over 67 år og har kort botid i Norge.
                {{else}}
                    ufør flyktning.
                {{/if}}
                Du kan søke på nytt i {{tildato}}.
            </p>
            <p>
                Vedtaket er gjort etter lov om supplerende stønad til personer med kort botid i Norge, §§ 3, 5, 6 og 7.
            </p>
        </div>

        {{#if fritekst}}
            <p class="fritekst">{{fritekst}}</p>
        {{/if}}

        {{> supdfgen/partials/beregning beregningsperioder }}

    </div>

{{/supdfgen/partials/innvilgelseBase}}