<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Supplerende Stønad"/>
    <meta name="author" content="su-pdfgen"/>
    <meta name="subject" content="Supplerende Stønad"/>

    {{#block 'supdfgen/css/baseStyles' }}{{/block}}
    {{#block 'supdfgen/css/vedleggStyles' }}{{/block}}

    <title>Supplerende stønad</title>
</head>
<body>

{{> supdfgen/partials/baseAsPartialBlock personalia }}

<div class="mainContent">
    {{#if skalTilbakekreve}}
        <div class="shortSpacedInfo">
            <h3>Du må betale tilbake supplerende stønad.</h3>
            {{> supdfgen/partials/fnr personalia }}
            <br/>
            <p>Du har fått for mye supplerende stønad som du må betale tilbake.</p>
            <p>
                Beløpet du skylder før skatt er kr {{currency_no månedsoversiktMedSum.sumBruttoSkalTilbakekreve true}}.
                Dette er hele det feilutbetalte beløpet.
            </p>
            <p>
                Du skal betale kr {{currency_no månedsoversiktMedSum.sumNettoSkalTilbakekreve true}} etter skatt er
                trukket fra.
            </p>
        </div>
        <br/>
        <div class="shortSpacedInfo">
            <h4>Hvordan har vi kommet fram til at du må betale tilbake?</h4>
            <p class="fritekst">{{fritekst}}</p>
        </div>
        <p>Vedtaket er gjort etter reglene i lov om supplerende stønad § 13.</p>
        <br/>
        <div class="shortSpacedInfo">
            <h4>Skatt og skatteoppgjør</h4>
            <p>Skatten som er trukket fra beløpet du skal betale tilbake, er beregnet etter det du har blitt trukket i
                skatt i gjennomsnitt per måned. Det betyr at beløpet du skal tilbakebetale etter skatt, ikke alltid er
                likt med det beløpet du fikk inn på kontoen din.
            </p>
            <p>
                Nav gir opplysninger til Skatt om skattebeløpet og om beløpet du skal betale tilbake før skatt er
                trukket i fra. Skatt vil vurdere om det er grunnlag for å endre skatteoppgjør.
            </p>
        </div>
        <br/>
        <div class="shortSpacedInfo">
            <h4>Hvordan betale tilbake pengene du skylder</h4>
            <p>Du vil få faktura fra Skatt på det beløpet du skal betale tilbake.</p>
            <p>På fakturaen vil det stå informasjon om nøyaktig beløp, kontonummer og forfallsdato.</p>
            <p>Du finner mer informasjon på <a href="www.skatteetaten.no/betale">skatteetaten.no/betale</a>.</p>
        </div>
    {{else}}
        <div class="shortSpacedInfo">
            <h3>Du må ikke betale tilbake supplerende stønad</h3>
            {{> supdfgen/partials/fnr personalia }}
            <p>Vi har kommet frem til at du ikke skal betale tilbake for mye utbetalt supplerende stønad
                på {{currency_no bruttoSkalIkkeTilbakekreveSummert true}} kroner, fordi vilkårene for
                tilbakekreving ikke er oppfylt.</p>
        </div>
        <div class="shortSpacedInfo">
            <h4>Hvordan har vi kommet fram til at du ikke må betale tilbake?</h4>
            <p class="fritekst">{{fritekst}}</p>
        </div>

    {{/if}}
</div>
<div>
    {{#if skalTilbakekreve}}
        {{> supdfgen/partials/fellesInfo
                extraVedtaksInfoForKlage="Du må som hovedregel begynne å betale beløpet tilbake når du får fakturaen selv om du klager på dette vedtaket. Dette følger av forvaltningsloven § 42. Hvis du får vedtak om at du ikke trengte å betale tilbake hele eller deler av beløpet du skyldte, betaler vi pengene tilbake til deg."
        }}
    {{else}}
        {{> supdfgen/partials/fellesInfo}}
    {{/if}}

    {{> supdfgen/partials/hilsen saksbehandler=saksbehandlerNavn attestant=attestantNavn }}
</div>

{{#if skalTilbakekreve}}
    {{#with månedsoversiktMedSum}}
        <div class="vedlegg">
            <h4>Vedlegg: Oversikt over feilutbetalingen</h4>
            <table>
                <thead>
                <tr>
                    <th class="spacing-l">Periode</th>
                    <th class="spacing-m">Feilutbetalt beløp</th>
                    <th class="spacing-l">Tilbakebetaling</th>
                    <th class="spacing-s">Beløp før skatt</th>
                    <th class="spacing-xl">Beløp du skal betale tilbake etter at skatt er trukket fra</th>
                </tr>
                </thead>
                <tbody>
                {{#each sorterteMåneder}}
                    <tr>
                        <td class="periode">{{periode}}</td>
                        <td class="tall">{{currency_no bruttoSkalTilbakekreve true}} kroner</td>
                        <td>{{#eq vurdering "SkalTilbakekreve"}}
                            Hele beløpet {{else}} Ingen tilbakebetaling {{/eq}}</td>
                        <td class="tall">{{currency_no bruttoSkalTilbakekreve true}} kroner</td>
                        <td class="tall ">{{currency_no nettoSkalTilbakekreve true}} kroner</td>
                    </tr>
                {{/each}}
                <tr class="sumrad">
                    <td>sum</td>
                    <td></td>
                    <td></td>
                    <td class="tall">{{currency_no sumBruttoSkalTilbakekreve true}} kroner</td>
                    <td class="sum tall">{{currency_no sumNettoSkalTilbakekreve true}} kroner</td>
                </tr>
                </tbody>
            </table>
        </div>
    {{/with}}

{{/if}}
</body>
</html>