{{#> supdfgen/partials/avslagBase}}
    <div class="main">

        <div class="header">
            <div style="float:right">
                <img class="navLogo" src="{{image "Navlogo.png"}}">
                <p>Dato: {{dato}}</p>
            </div>
        </div>

        <div class="personInfo">
            <p>{{fornavn}} {{etternavn}}</p>
            <p>{{adresse}}</p>
            <p>{{postnummer}} {{poststed}}</p>
        </div>

        <div class="mainContent">
            <h3>Vi har avslått søknaden din om supplerende stønad</h3>

            <div class="personInfoMainContent">
                <p>Navn: {{fornavn}} {{etternavn}}</p>
                <p>Fødselsnummer: {{fødselsnummer}}</p>
            </div>

            {{#eq avslagsgrunn "UFØRHET" }}
                <p>Du har ikke rett til supplerende stønad fordi vi har avslått søknaden
                    din om uføretrygd etter ett eller flere av vilkårene i folketrygdloven
                    §§ 12-4 til 12-7. Du kan se det i ditt vedtak om uføretrygd.
                </p>
            {{/eq}}

            {{#eq avslagsgrunn "FLYKTNING" }}
                <p>Du har ikke rett til supplerende stønad fordi du ikke er flyktning etter utlendingsloven § 28.</p>
            {{/eq}}

            {{#eq avslagsgrunn "FORMUE" }}
                <p>Du har ikke rett til supplerende stønad fordi du eller din ektefelle har formue
                    som overstiger halvparten av folketrygdlovens grunnbeløp. Dette er for tiden {{currency_no halvGrunnbeløp true}} kr.
                </p>
            {{/eq}}

            {{#eq avslagsgrunn "BOR_OG_OPPHOLDER_SEG_I_NORGE" }}
                <p>Du har ikke rett til supplerende stønad fordi du ikke er registrert bosatt i Norge og/eller ikke oppholder deg i Norge.</p>
            {{/eq}}

            {{#eq avslagsgrunn "PERSONLIG_OPPMØTE" }}
                <p>
                    [[PERSONLIG_OPPMØTE AVSLAGSTEKST]]
                </p>
            {{/eq}}

            {{#eq avslagsgrunn "OPPHOLDSTILLATELSE" }}
                <p>
                    [[OPPHOLDSTILLATELSE AVSLAGSTEKST]]
                </p>
            {{/eq}}

            {{! TODO: ha et avslag på grunn av utenlandsopphold mer enn 90 dager}}
            {{#eq avslagsgrunn "UTENLANDSOPPHOLD_OVER_90_DAGER" }}
                <p>
                    Du har ikke rett til supplerende stønad fordi du skal oppholde deg i utlandet i mer enn 90 dager.
                </p>
            {{/eq}}

            {{! TODO: ha et avslag på grunn av inntekt fra backend}}
            {{#eq avslagsgrunn "FOR_HØY_INNTEKT" }}
                <p>
                    Du har ikke rett til supplerende stønad fordi du eller din ektefelle sammen eller
                    hver for dere har for høy inntekt. Inntekten kan ikke være høyere enn den satsen
                    du kan få i supplerende stønad. Inntekten er på kr xx som er høyere enn xxx
                    (den aktuelle satsen for SU)
                </p>
            {{/eq}}

            {{! TODO: ha et avslag på grunn av Innlagt på institusjon  }}
            {{#eq avslagsgrunn "INNLAGT_PÅ_INSTITUSJON" }}
                <p>
                    [[INNLAGT PÅ INSTITUSJON AVSLAGSTEKST]]
                </p>
            {{/eq}}

            {{! TODO: ha et avslag på grunn av SU_UNDER_MINSTEGRENSE}}
            {{#eq avslagsgrunn "SU_UNDER_MINSTEGRENSE" }}
                <p>
                    [[SU_UNDER_MINSTEGRENSE AVSLAGSTEKST]]
                </p>
            {{/eq}}


            {{#eq avslagsgrunnBeskrivelse "UFØRHET_FLYKTNING" }}
                <p>
                    Dette vedtaket er gjort etter loven om supplerende stønad for personer med kort botid i Norge §§ 1 og 2.
                </p>
            {{/eq}}
            {{#eq avslagsgrunnBeskrivelse "FORMUE" }}
                <p>
                    Dette vedtaket er gjort etter loven om supplerende stønad for personer med kort botid i Norge §§ 1, 2 og 3.
                </p>
            {{/eq}}
            {{#eq avslagsgrunnBeskrivelse "HØY_INNTEKT" }}
                <p>
                    Dette vedtaket er gjort etter loven om supplerende stønad for personer med kort botid i Norge §§ 1, 2 og 3.
                </p>
            {{/eq}}
            {{#eq avslagsgrunnBeskrivelse "UTLAND_OG_OPPHOLD" }}
                <p>
                    Dette vedtaket er gjort etter loven om supplerende stønad for personer med kort botid i Norge §§ 1, 2 og 4.
                </p>
            {{/eq}}


        </div>


    </div>
{{/supdfgen/partials/avslagBase}}