{{#> supdfgen/partials/innvilgelseBase}}
    <div class="mainContent">
        <h2>Du får supplerende stønad</h2>

        <div class="info">
            <p>
                Du får {{currency_no månedsbeløp true}} kroner i måneden fra {{fradato}} til og med {{tildato}} fordi du er ufør flyktning.
                Du kan søke på nytt i {{tildato}}.
            <p>

            <p>
                Vedtaket er gjort etter loven om supplerende stønad til personer med kort botid i Norge, §§ 3, 5, 6 og 7.
            <p>
        </div>

        <h3>Beregning</h3>
        <span>
            {{#if satsGrunn}}
                Du får {{sats}} sats fordi
                {{#eq satsGrunn "ENSLIG"}}du ikke deler bolig med voksne barn eller andre voksne.{{/eq}}
                {{#eq satsGrunn "DELER_BOLIG_MED_VOKSNE_BARN_ELLER_ANNEN_VOKSEN"}}du deler bolig med voksne barn eller andre voksne.{{/eq}}
                {{#eq satsGrunn "DELER_BOLIG_MED_EKTEMAKE_SAMBOER_UNDER_67"}}din ektefelle ikke er 67 år.{{/eq}}
                {{#eq satsGrunn "DELER_BOLIG_MED_EKTEMAKE_SAMBOER_OVER_67"}}du deler bolig med ektemake eller samboer over 67 år.{{/eq}}
                {{#eq satsGrunn "DELER_BOLIG_MED_EKTEMAKE_SAMBOER_UNDER_67_UFØR_FLYKTNING"}}du deler bolig med ektemake eller samboer under 67 år som er ufør flyktning.{{/eq}}
            {{/if}}

            {{capitalize sats}} sats er {{currency_no satsbeløp true}} kroner i måneden.

            {{#if redusertStønadStatus}}
                Vi har redusert stønaden fordi du {{#if harEktefelle}}og/eller ektefelle{{/if}} har annen inntekt.
            {{/if}}
        </span>

        {{> supdfgen/partials/beregning}}

    </div>

{{/supdfgen/partials/innvilgelseBase}}