{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>Vi har avslått søknaden din om supplerende stønad</h2>
        {{> supdfgen/partials/fnr personalia }}

        <p>Vi har avslått fordi:</p>

        <ul>
            {{#each avslagsgrunner}}
                {{#eq this "UFØRHET" }}
                    <li>Du har ikke fått vedtak om uføretrygd der vilkårene i folketrygdloven §§ 12-4 til 12-7 er
                        oppfylte.
                    </li>
                {{/eq}}

                {{#eq this "FLYKTNING" }}
                    <li>Du har ikke status som flyktning etter § 28 i Utlendingsloven.</li>
                {{/eq}}

                {{#eq this "OPPHOLDSTILLATELSE" }}
                    {{#if erAldersbrev}}
                        <li>Du har ikke varig lovlig opphold i Norge. Registreringsbevis for EØS-borgere gir ikke
                            grunnlag for varig oppholdsrett i Norge. Det er et krav at du har varig oppholdsrett for å
                            kunne få rett til supplerende stønad.
                        </li>
                    {{else}}
                        <li>Du har ikke lovlig opphold i Norge.</li>
                    {{/if}}
                {{/eq}}

                {{#eq this "BOR_OG_OPPHOLDER_SEG_I_NORGE" }}
                    <li>Du er ikke registrert bosatt i Norge.</li>
                {{/eq}}

                {{#eq this "INNLAGT_PÅ_INSTITUSJON" }}
                    <li>Du oppholder deg på institusjon.</li>
                {{/eq}}

                {{#eq this "UTENLANDSOPPHOLD_OVER_90_DAGER" }}
                    <li>Du skal oppholde deg utenfor Norge i mer enn 90 dager.</li>
                {{/eq}}

                {{#eq this "FAMILIEGJENFORENING"}}
                    <li>
                        Du har fått oppholdstillatelse i Norge på grunn av familiegjenforening med barn, barnebarn, nevø
                        eller niese.
                        I det første vedtaket ditt om oppholdstillatelse ble det stilt krav til at den du søkte
                        gjenforening med, skulle forsørge deg.
                        Selv om dette familiemedlemmet ikke lenger forsørger deg, har du likevel ikke rett til
                        supplerende stønad.
                    </li>
                {{/eq}}

                {{#eq this "ALDERSPENSJON_FOLKETRYGDEN"}}
                    <li>
                        Du har ikke fått vedtak om alderspensjon fra folketrygden, som er et krav for å kunne få rett
                        til supplerende stønad.
                        Dersom du ikke har søkt om alderspensjon, kan du kontakte Nav for å få vurdert om det er
                        aktuelt.
                    </li>
                {{/eq}}

                {{#eq this "ALDERSPENSJON_ANDRE_NORSKE_PENSJONSORDNINGER"}}
                    <li>
                        Du er registrert som medlem i en tjenestepensjonsordning. Vi har ikke mottatt informasjon om at
                        du har fått vedtak fra denne ordningen. Du må ha utnyttet retten til alle pensjoner i Norge og
                        utlandet for å få rett til supplerende stønad.
                    </li>
                {{/eq}}

                {{#eq this "ALDERSPENSJON_UTENLANDSKE_PENSJONSORDNINGER"}}
                    <li>
                        Du har ikke fått vedtak om pensjon fra utlandet, som er et krav for å få rett til supplerende
                        stønad.
                    </li>
                {{/eq}}

                {{#eq this "FORMUE" }}
                    <li>
                        {{#if harEktefelle}}
                            <span>Formuen du og ektefellen/samboeren din har til sammen er mer enn halvparten av folketrygdens grunnbeløp. For tiden er dette {{currency_no
                                    halvGrunnbeløp true}} kroner.</span>
                        {{else}}
                            <span>Formuen din er mer enn halvparten av grunnbeløpet, som for tiden er {{currency_no
                                    halvGrunnbeløp true}} kroner.</span>
                        {{/if}}
                        <span>
                            Hvis formuen din blir mindre, kan du søke om supplerende stønad på nytt.
                            Du kan ikke gi bort formuen din for å få rett til supplerende stønad.
                            Derfor må du dokumentere hva du har brukt formuen til hvis du søker på nytt.
                        </span>
                    </li>
                {{/eq}}

                {{#eq this "PERSONLIG_OPPMØTE" }}
                    <li>Du har ikke møtt personlig på Nav-kontoret, og du har ikke dokumentert at du har vært for syk
                        til å møte.
                    </li>
                {{/eq}}

                {{#eq this "FOR_HØY_INNTEKT" }}
                    <li>
                        {{#if harEktefelle}}
                            <span>Inntekten du og ektefellen/samboeren din har til sammen er for høy.</span>
                        {{else}}
                            <span>Du har for høy inntekt.</span>
                        {{/if}}
                        <span>
                            Inntekten er høyere enn det du kan få i supplerende stønad.
                        </span>
                    </li>
                {{/eq}}

                {{#eq this "SU_UNDER_MINSTEGRENSE" }}
                    <li>
                        <span>
                            Stønaden vi har beregnet til deg er for lav til at den kan utbetales.
                            Vi kan ikke utbetale stønad som er under to prosent av den høyeste stønadssatsen.
                        </span>
                        <br/>
                    </li>
                {{/eq}}
                {{#eq this "MANGLENDE_DOKUMENTASJON" }}
                    <li>
                        <p>
                            Du har ikke sendt inn den dokumentasjonen vi har bedt om. Vi har derfor ikke nødvendig
                            informasjon for å kunne vurdere om du har rett til supplerende stønad.
                        </p>
                        <p>
                            Hvis vi mottar den dokumentasjonen vi har bedt om innen klagefristen, vil vi vurdere
                            søknaden på ny.
                        </p>
                    </li>
                {{/eq}}
            {{/each}}
        </ul>
        <span>
            Vedtaket er gjort etter lov om supplerende stønad for personer
            med kort botid i Norge {{> supdfgen/partials/visAvslagsparagrafer avslagsparagrafer}}.
        </span>

        {{#each avslagsgrunner}}
            {{#eq this "OPPHOLDSTILLATELSE"}}
                {{#if erAldersbrev}}
                    <p>Personer med registreringsbevis kan søke om varig oppholdsrett etter fem års botid i Norge.
                        Retten til supplerende stønad kan tidligst oppnås når du har fått vedtak om varig oppholdsrett.
                        Du kan søke om supplerende stønad på nytt når du er innvilget varig oppholdsrett i Norge.
                    </p>
                {{/if}}
            {{/eq}}
        {{/each}}

        {{#if fritekst}}
            <p class="fritekst">{{fritekst}}</p>
        {{/if}}

        {{#contains_all avslagsgrunner "FORMUE"}}
            {{> supdfgen/partials/formueTabell formueVerdier}}
        {{/contains_all}}

        {{#if beregningsperioder }}
            {{> supdfgen/partials/beregning beregningsperioder }}
        {{/if}}
    </div>
{{/supdfgen/partials/avslagBase}}
