<div>
    {{#with personalia}}
        <div class="header">
            <img class="navLogo" src="{{image "Navlogo.png"}}" alt="NAV logo"/>

            <div class="personalia">
                <p>{{fornavn}} {{etternavn}}</p>
                <p>Dato: {{dato}}</p>
                <p>Saksnummer: {{saksnummer}}</p>
            </div>
        </div>
    {{/with}}
</div>