<p>
    Ved beregning av fradag benyttes alltid det høyeste beløpet av forventet inntekt etter uførhet og arbeidsinntekt.
    Hvilket av disse beløpene som går til fradrag vil derfor kunne variere fra periode til periode.
</p>

<h3 class="beregning__heading">Slik beregnes stønaden din:</h3>

<table class="beregning">
    {{#if totalSumForBeregningsperioder}}
        <tr>
            <td><h4>Totalt beløp:</h4></td>
            <td class="beregning__beløp"><h4>{{currency_no totalSumForBeregningsperioder}}</h4></td>
        </tr>
    {{/if}}
    {{#each beregningsperioder}}
        <tr>
            <td><h4>{{periode.fraOgMed}}-{{periode.tilOgMed}} får du</h4></td>
            <td class="beregning__beløp"><h4>{{currency_no ytelsePerMåned}}</h4></td>
        </tr>

        <tr>
            <td>Maksimalt beløp for supplerende stønad</td>
            <td class="beregning__beløp">{{currency_no satsbeløpPerMåned}}</td>
        </tr>

        {{#if fradrag.bruker}}
            {{#each fradrag.bruker}}
                <tr>
                    <td>{{type}}</td>
                    <td class="beregning__beløp">- {{currency_no beløp}}</td>
                </tr>
                {{#if utenlandskInntekt}}
                    <tr>
                        <td colspan="2">
                            <ol class="beregning__utenlandsk">
                                <li>Beløp i utenlandsk valuta: {{utenlandskInntekt.valuta}} {{currency_no
                                        utenlandskInntekt.beløpIUtenlandskValuta}}</li>
                                <li>Kurs ved beregning: {{currency_no utenlandskInntekt.kurs}}</li>
                            </ol>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
        {{/if}}
        {{#if fradrag.eps}}
            {{#each fradrag.eps}}
                <tr>
                    <td>{{type}} (Ektefelle/samboer)</td>
                    <td class="beregning__beløp">- {{currency_no beløp}}</td>
                </tr>
                {{#if utenlandskInntekt}}
                    <tr>
                        <td colspan="2">
                            <ol class="beregning__utenlandsk">
                                <li>Beløp i utenlandsk valuta: {{utenlandskInntekt.valuta}} {{currency_no
                                        utenlandskInntekt.beløpIUtenlandskValuta}}</li>
                                <li>Kurs ved beregning: {{currency_no utenlandskInntekt.kurs}}</li>
                            </ol>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
            <tr>
                <td>Fribeløp (Ektefelle/samboer)</td>
                <td class="beregning__beløp">{{currency_no epsFribeløp}}</td>
            </tr>
        {{/if}}
    {{/each}}
</table>
