<h3 class="keyValueOppsummering__heading">Slik beregner vi stønaden din:</h3>

<p>{{> supdfgen/partials/satsoversikt satsoversikt }}</p>

<p>
    {{#if harFradrag}}
        Vi har redusert stønaden fordi du {{#if harEktefelle}}  og/eller ektefelle{{/if}} har annen inntekt.
    {{/if}}
</p>

{{$eq sakstype "ALDER"}}
    {{#if forventetInntektStørreEnn0}}
        <p>
            Vi bruker alltid det høyeste beløpet av arbeidsinntekten din og din forventede inntekt etter uførhet når vi
            beregner stønaden din. Du ser i beregningen hvilket beløp vi bruker.
        </p>
    {{/if}}
{{/eq}}
{{#each beregningsperioder}}
    <table class="keyValueOppsummering">
        <tr>
            <td><b>{{capitalize periode.fraOgMed}} til {{periode.tilOgMed}}</b></td>
        </tr>

        <tr>
            <td>Supplerende stønad, {{sats}} sats</td>
            <td class="keyValueOppsummering__value">{{currency_no satsbeløpPerMåned}}</td>
        </tr>

        {{#if fradrag.bruker}}
            {{#each fradrag.bruker}}
                <tr>
                    <td>{{type}}</td>
                    <td class="keyValueOppsummering__value">- {{currency_no beløp}}</td>
                </tr>
                {{#if utenlandskInntekt}}
                    <tr>
                        <td colspan="2">
                            <ol class="keyValueOppsummering__keyInfo">
                                <li>Beløp i utenlandsk valuta: {{utenlandskInntekt.valuta}} {{currency_no
                                        utenlandskInntekt.beløpIUtenlandskValuta}}</li>
                                <li>Kurs ved beregning: {{currency_no utenlandskInntekt.kurs}}</li>
                            </ol>
                        </td>
                    </tr>

                {{/if}}
            {{/each}}
        {{/if}}
        {{#if fradrag.eps.fradrag}}
            {{#each fradrag.eps.fradrag}}
                <tr>
                    <td>{{type}} (Ektefelle/samboer)</td>
                    <td class="keyValueOppsummering__value">- {{currency_no beløp}}</td>
                </tr>
                {{#if utenlandskInntekt}}
                    <tr>
                        <td colspan="2">
                            <ol class="keyValueOppsummering__keyInfo">
                                <li>Beløp i utenlandsk valuta: {{utenlandskInntekt.valuta}} {{currency_no
                                        utenlandskInntekt.beløpIUtenlandskValuta}}</li>
                                <li>Kurs ved beregning: {{currency_no utenlandskInntekt.kurs}}</li>
                            </ol>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
            {{#gt epsFribeløp 0}}
                <tr>
                    <td>Fribeløp (Ektefelle/samboer)</td>
                    <td class="keyValueOppsummering__value">{{currency_no epsFribeløp}}</td>
                </tr>
            {{/gt}}
        {{/if}}
        <tr>
            <td><b>Sum per måned</b></td>
            <td class="keyValueOppsummering__value"><b>{{currency_no ytelsePerMåned}}</b></td>
        </tr>
    </table>
    {{#if fradrag.eps.harFradragMedSumSomErLavereEnnFribeløp}}
        <p>
            Inntekten til ektefelle/samboer er under fribeløpet på {{currency_no epsFribeløp true}} kr per måned og er
            derfor ikke med i regnestykket for denne perioden.
        </p>
    {{/if}}
{{/each}}
