<p>
    Ved beregning av fradag benyttes alltid det høyeste beløpet av forventet inntekt etter uførhet og arbeidsinntekt.
    Hvilket av disse beløpene som går til fradrag vil derfor kunne variere fra periode til periode.
</p>

<h3 class="beregning__heading">Slik beregnes stønaden din:</h3>

{{#if totalSumForBeregningsperioder}}
    <div>
        <h4 style="float: left">Totalt beløp:</h4>
        <h4 style="float: right">{{currency_no totalSumForBeregningsperioder}}</h4>
    </div>
{{/if}}
{{#each beregningsperioder}}
    <table class="beregning">
        <tr>
            <td><b>{{periode.fraOgMed}}-{{periode.tilOgMed}}</b></td>
        </tr>

        <tr>
            <td>Maksimalt beløp for supplerende stønad</td>
            <td class="beregning__beløp">{{currency_no satsbeløpPerMåned}}</td>
        </tr>

        {{#if fradrag.bruker}}
            {{#each fradrag.bruker}}
                <tr>
                    <td>{{type}}</td>
                    <td class="beregning__beløp">- {{currency_no beløp}}</td>
                </tr>
                {{#if utenlandskInntekt}}
                    <tr>
                        <td colspan="2">
                            <ol class="beregning__utenlandsk">
                                <li>Beløp i utenlandsk valuta: {{utenlandskInntekt.valuta}} {{currency_no
                                        utenlandskInntekt.beløpIUtenlandskValuta}}</li>
                                <li>Kurs ved beregning: {{currency_no utenlandskInntekt.kurs}}</li>
                            </ol>
                        </td>
                    </tr>

                {{/if}}
            {{/each}}
        {{/if}}
        {{#if fradrag.eps.fradrag}}
            {{#each fradrag.eps.fradrag}}
                <tr>
                    <td>{{type}} (Ektefelle/samboer)</td>
                    <td class="beregning__beløp">- {{currency_no beløp}}</td>
                </tr>
                {{#if utenlandskInntekt}}
                    <tr>
                        <td colspan="2">
                            <ol class="beregning__utenlandsk">
                                <li>Beløp i utenlandsk valuta: {{utenlandskInntekt.valuta}} {{currency_no
                                        utenlandskInntekt.beløpIUtenlandskValuta}}</li>
                                <li>Kurs ved beregning: {{currency_no utenlandskInntekt.kurs}}</li>
                            </ol>
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
            <tr>
                <td>Fribeløp (Ektefelle/samboer)</td>
                <td class="beregning__beløp">{{currency_no epsFribeløp}}</td>
            </tr>
        {{/if}}
        <tr>
            <td><b>Sum per måned</b></td>
            <td class="beregning__beløp"><b>{{currency_no ytelsePerMåned}}</b></td>
        </tr>
    </table>
    {{#if fradrag.eps.harFradragMedSumSomErLavereEnnFribeløp}}
        <p>
            blablalbal text for eps lavere enn fribeløp
        </p>
    {{/if}}
{{/each}}
