<table>
    <thead>
    <tr>
        <td>
            <img src="{{image "Office1.png"}}" alt="kontorbygning"/>
            <h4>For NAV</h4>
        </td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    <tr class="tr2">
        <td>Saksnummer:</td>
        <td>{{saksnummer}}</td>
    </tr>
    <tr class="tr2">
        <td>Behandlingstype:</td>
        <td>{{behandlingstype}}</td>
    </tr>

    {{#not_eq behandlingsId null}}
    <tr class="tr2">
        <td>behandling-id:</td>
        <td>{{behandlingsId}}</td>
    </tr>
    {{/not_eq}}

    {{#not_eq vedtaksId null}}
        <tr class="tr2">
            <td>Vedtaksid-id:</td>
            <td>{{vedtaksId}}</td>
        </tr>
    {{/not_eq}}
    <tr class="tr2">
        <td>Skattegrunnlag hentet:</td>
        <td>{{hentet}}</td>
    </tr>
    <tr class="tr2">
        <td>Pdf generert:</td>
        <td>{{opprettet}}</td>
    </tr>
    </tbody>
</table>
