<table>
    <thead>
    <tr>
        <td class="tr50"><img src="{{image "People.png"}}" alt="person"/><h4>Personopplysninger</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    <tr class="tr2">
        <td>Fødselsnummer:</td>
        <td>{{fnr}}</td>
    </tr>
    <tr class="tr2">
        <td>Navn:</td>
        <td>{{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}</td>
    </tr>
    </tbody>
</table>