<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
        }
        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }
        td {
            vertical-align: top;
            word-wrap: break-word;
        }
        table thead {
            background-color: lightblue;
        }
        table thead td {
            border: none;
        }
        td h5 {
            margin: 0;
        }
        td h4 {
            margin: 0;
        }
        td h3 {
            margin: 0;
        }
        td p {
            margin: 0;
        }
        .tr10 {
            width: 10%;
        }
        .tr50 {
            width: 50%;
        }
        body {
            page-break-inside: avoid;
        }

    </style>
    <title>SØKNAD {{personopplysninger.fnr}} {{personopplysninger.fornavn}} {{personopplysninger.etternavn}}</title>
</head>
<body>

<table>
<thead>
    {{#with forNAV}}
    <tr>
        <td class="tr50"><h4>For NAV</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Motatt dato</td>
        <td>01-01-2020</td>
    </tr>
    <tr>
        <td>Veileder</td>
        <td>J123456 - Jens Jensen</td>
    </tr>
    <tr>
        <td>Målform</td>
        <td>{{målform}}</td>
    </tr>
        {{#if søkerMøttPersonlig }}
        <tr>
            <td>Har søker møtt personlig</td>
            <td>Ja</td>
        </tr>
        {{else}}
        <tr>
            <td>Har søker møtt personlig</td>
            <td>Nei</td>
        </tr>
        {{/if}}

        {{#if harFullmektigMøtt }}
        <tr>
            <td>Fullmektig møtt</td>
            <td>Ja</td>
        </tr>
        {{else}}
        <tr>
            <td>Fullmektig møtt</td>
            <td>Nei</td>
        </tr>
        {{/if}}

        {{#if erPassSjekket }}
        <tr>
            <td>Pass sjekket</td>
            <td>Ja</td>
        </tr>
        {{else}}
        <tr>
            <td>Pass sjekket</td>
            <td>Nei</td>
        </tr>
        {{/if}}

    <tr>
        <td>Merknader</td>
        <td>{{forNAVmerknader}}</td>
    </tr>
    {{/with}}
</tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Personopplysninger</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {{#with personopplysninger}}
        <tr>
            <td>Fødselsnummer:</td>
            <td>{{fnr}}</td>
        </tr>
        <tr>
            <td>Fornavn:</td>
            <td>{{fornavn}}</td>
        </tr>
        <tr>
            <td>Mellomnavn:</td>
            <td>{{mellomnavn}}</td>
        </tr>
        <tr>
            <td>Etternavn:</td>
            <td>{{etternavn}}</td>
        </tr>
        <tr>
            <td>Fødselsnummer:</td>
            <td>{{fnr}}</td>
        </tr>
        <tr>
            <td>Telefonnummer:</td>
            <td>{{telefonnummer}}</td>
        </tr>
        <tr>
            <td>Gateadresse:</td>
            <td>{{gateadresse}}</td>
        </tr>
        <tr>
            <td>Bruksenhet:</td>
            <td>{{bruksenhet}}</td>
        </tr>
        <tr>
            <td>Postnummer:</td>
            <td>{{postnummer}}</td>
        </tr>
        <tr>
            <td>Poststed:</td>
            <td>{{poststed}}</td>
        </tr>
        <tr>
            <td>Bokommune:</td>
            <td>{{bokommune}}</td>
        </tr>
        <tr>
            <td>Søkers statsborkerskap:</td>
            <td>{{statsborgerskap}}</td>
        </tr>

        {{#if flyktning }}
            <tr>
                <td>Er søker registrert som flyktning?</td>
                <td>Ja</td>
            </tr>
        {{else}}
            <tr>
                <td>Er søker registrert som flyktning?</td>
                <td>Nei</td>
            </tr>
        {{/if}}

        {{#if borFastINorge }}
            <tr>
                <td>Bor søker fast i Norge?</td>
                <td>Ja</td>
            </tr>
        {{else}}
            <tr>
                <td>Bor søker fast i Norge?</td>
                <td>Nei</td>
            </tr>
        {{/if}}

    {{/with}}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Boforhold</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {{#with boforhold}}
        {{#if delerBoligMed }}
            <tr>
                <td>Deler bolig</td>
                <td>Ja</td>
            </tr>
        {{else}}
            <tr>
                <td>Deler bolig?</td>
                <td>Nei</td>
            </tr>
        {{/if}}
        {{#if delerBoligMed }}
            <tr>
                <td>Bor sammen med</td>
                <td>{{ borSammenMed }}</td>
            </tr>
            <tr>
                <td>Deler bolig med</td>
                {{#each delerBoligMed }}
                    <tr>
                        <td></td>
                        <td>{{ fødselsnummer }} {{ navn }}</td>
                    </tr>
                {{/each}}
            </tr>
        {{/if}}
    {{/with}}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Utenlandsopphold</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {{#with utenlandsopphold }}
        {{#if utenlandsopphold }}
            <tr>
                <td><h4>Registrerte utenlandsopphold</h4></td>
                <td></td>
            </tr>
            {{#each registrertePerioder }}
                <tr>
                    <td>{{ utreisedato }}</td>
                    <td>{{ innreisedato }}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td>Ingen registrerte utreiser</td>
            </tr>
        {{/if}}

        {{#if planlagtUtenlandsopphold }}
            <tr>
                <td><h4>Planlagte utenlandsopphold</h4></td>
                <td></td>
            </tr>
            {{#each planlagtePerioder }}
                <tr>
                    <td>{{ utreisedato }}</td>
                    <td>{{ innreisedato }}</td>
                </tr>
            {{/each}}
            {{else}}
            <tr>
                <td>Ingen planlagte utreiser</td>
            </tr>
        {{/if}}
    {{/with}}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Oppholdstillatelse</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {{#with oppholdstillatelse}}
        {{#if harVarigOpphold }}
            <tr>
                <td>Har søker varig opphold</td>
                <td>Ja</td>
            </tr>
            {{else}}
            <tr>
                <td>Har søker varig opphold</td>
                <td>Nei</td>
            </tr>
            <tr>
                <td>Utløpsdato</td>
                <td>{{utløpsDato}}</td>
            </tr>

            {{#if søktOmForlengelse }}
                <tr>
                    <td>Søkt forlengelse</td>
                    <td>Ja</td>
                </tr>
            {{else}}
                <tr>
                    <td>Søkt forlengelse</td>
                    <td>Nei</td>
                </tr>
            {{/if}}
        {{/if}}
    {{/with}}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Inntekter, pensjon og formue</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {{#with inntektPensjonFormue}}
        {{#if arbeidselleranneninntekt}}
            <tr>
                <td><h4>Inntekter</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Personinntekt</td>
                <td>{{ sumInntektOgPensjon }}</td>
            </tr>
            <tr>
                <td>Annen</td>
                <td>{{ arbeidselleranneninntektBegrunnelse }}</td>
            </tr>
        {{/if}}
        {{#if harPensjon }}
            <tr>
                <td><h4>Pensjon</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Har pensjon</td>
                <td>Ja</td>
            </tr>
            {{#each pensjonsOrdning}}
                <tr>
                    <td>{{ordning}}</td>
                    <td>{{beløp}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td>Har pensjon</td>
                <td>Nei</td>
            </tr>
        {{/if}}
        {{#if harFormueEiendom }}
            <tr>
                <td><h4>Formue - eiendom</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Har formue/eiendom</td>
                <td>Ja</td>
            </tr>
            <tr>
                <td>Beløp</td>
                <td>{{ formueBeløp }}</td>
            </tr>
        {{else}}
            <tr>
                <td>Har formue/eiendom</td>
                <td>Nei</td>
            </tr>
        {{/if}}
        {{#if harAnnenFormue }}
            <tr>
                <td><h4>Formue - annen</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Har du annen formue</td>
                <td>Ja</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{ typeFormue }}</td>
            </tr>
            <tr>
                <td>Skattetakst</td>
                <td>{{ samletSkattetakst }}</td>
            </tr>
        {{else}}
            <tr>
                <td><h4>Formue - annen</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Har du annen formue</td>
                <td>Nei</td>
            </tr>
        {{/if}}
        {{#if harFinansFormue }}
            <tr>
                <td><h4>Formue - finans</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Har du finansformue</td>
                <td>Ja</td>
            </tr>
        {{else}}
            <tr>
                <td><h4>Formue - finans</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Har du finansformue</td>
                <td>Nei</td>
            </tr>
        {{/if}}
        {{#if framsattKravAnnenYtelse }}
            <tr>
                <td><h4>Krav andre ytelser</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Krav annen ytelse</td>
                <td>Ja</td>
            </tr>
            <tr>
                <td>Begrunnelse</td>
                <td>{{ framsattKravAnnenYtelseBegrunnelse }}</td>
            </tr>
        {{else}}
            <tr>
                <td><h4>Krav andre ytelser</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Krav annen ytelse</td>
                <td>Nei</td>
            </tr>
        {{/if}}
        {{#if framsattKravAnnenYtelse }}
            <tr>
                <td><h4>Sosialstønad</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Mottar sosialstønad</td>
                <td>Ja</td>
            </tr>
        {{else}}
            <tr>
                <td><h4>Sosialstønad</h4></td>
                <td></td>
            </tr>
            <tr>
                <td>Mottar sosialstønad</td>
                <td>Nei</td>
            </tr>
        {{/if}}
    {{/with}}
    </tbody>
</table>

</body>
</html>