<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
        }
        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }
        td {
            vertical-align: top;
            word-wrap: break-word;
        }
        table thead {
            background-color: lightblue;
        }
        table thead td {
            border: none;
        }
        td h5 {
            margin: 0;
        }
        td h4 {
            margin: 0;
        }
        td h3 {
            margin: 0;
        }
        td p {
            margin: 0;
        }

    </style>
    <title>SØKNAD {{personopplysninger.fnr}} {{personopplysninger.fornavn}} {{personopplysninger.etternavn}}</title>
</head>
<body>
    <table>
        <thead>
        <td class="tr75">Personopplysninger</td>
        </thead>

        <tbody>
        <tr>
            <td>Fødselsnummer:</td>
            <td>{{personopplysninger.fnr}}</td>
        </tr>

        <tr>
            <td>Fornavn:</td>
            <td>{{personopplysninger.fornavn}}</td>
        </tr>

        <tr>
            <td>Mellomnavn:</td>
            <td>{{personopplysninger.mellomnavn}}</td>
        </tr>

        <tr>
            <td>Etternavn:</td>
            <td>{{personopplysninger.etternavn}}</td>
        </tr>

        <tr>
            <td>Fødselsnummer:</td>
            <td>{{personopplysninger.fnr}}</td>
        </tr>

        <tr>
            <td>Telefonnummer:</td>
            <td>{{personopplysninger.telefonnummer}}</td>
        </tr>

        <tr>
            <td>Gateadresse:</td>
            <td>{{personopplysninger.gateadresse}}</td>
        </tr>

        <tr>
            <td>Bruksenhet:</td>
            <td>{{personopplysninger.bruksenhet}}</td>
        </tr>

        <tr>
            <td>Postnummer:</td>
            <td>{{personopplysninger.postnummer}}</td>
        </tr>

        <tr>
            <td>Poststed:</td>
            <td>{{personopplysninger.poststed}}</td>
        </tr>

        <tr>
            <td>Bokommune:</td>
            <td>{{personopplysninger.bokommune}}</td>
        </tr>

        <tr>
            <td>Søkers statsborkerskap:</td>
            <td>{{personopplysninger.statsborgerskap}}</td>
        </tr>

        <tr>
            <td>Er søker registrert som flyktning?</td>
            <td>{{personopplysninger.flyktning}}</td>
        </tr>

        <tr>
            <td>Bor søker fast i Norge?</td>
            <td id="bofastnorge">{{personopplysninger.bofastnorge}}</td>
        </tr>

        </tbody>
    </table>
</body>
</html>