<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        @page  {
            @bottom-right {
                font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
                font-size: 15px;
                content: "side " counter(page) " av " counter(pages);
            }
        }

        .navLogo {
            height: 75px;
            width: 125px;
        }

        .navAdresse {
            font-size: 12px;
        }

        .personInfo p{
            padding: 0;
            margin: 0;
            clear: both;
        }
        
         .personInfo {
            margin-bottom: 5em;
        }

         .boldText {
             font-weight: bold;
         }

        .personInfoMainContent p{
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: grey;
        }

        .hilsen p {
            padding: 0;
            margin: 0
        }
    </style>
    <title>Corona</title>
</head>
<body>
    <div class="main">

        <div class="header">
            <div class="navAdresse">
                <p>Returadresse,</p>
                <p>NAV Corona-penger, postboks melkeveien 8080, 0970 Jorden</p>
            </div>

            <div style="float:right">
                <img class="navLogo" src="{{image "Navlogo.png"}}">
                <p>dato: 50.23.2025</p>
            </div>
        </div>

        <div class="personInfo">
            <p>{{fornavn}} {{etternavn}}</p>
            <p>{{adresse}}</p>
            <p>{{postnummer}} {{poststed}}</p>
        </div>

        <div class="mainContent">
            <h3>NAV har innvilget søknaden din om [dagpenger]</h3>

            <div class="personInfoMainContent">
                <p>Navn: {{fornavn}} {{etternavn}}</p>
                <p>Fødselsnummer: {{fødselsnummer}}</p>
            </div>

            <p>Vi legger til grunn for at de opplysningene søker har oppgitt er korrekte,
                søker har ansvar for å melde tilbake dersom noe ikke er korrekt. Det vil kunne foretas
                kontroll av utbetaling i etterkant, og innkreves dersom utbetaling er gjort på feil grunnlag. </p>

            <p class="boldText">Inntekt vi har brukt i beregningen</p>
            <p>Inntekten din hos {{arbeidsgiver}} er {{månedslønn}} kroner i måneden. Arbeidsgiveren din  har gitt oss
                disse opplysningene.</p>
            <p>Dette er gjennomsnittet av inntekten din fra de siste tre månedene. Hvis du nettopp har
                begynt  å arbeide, byttet arbeidsforhold, eller lønnen din har endret seg, har vi
                brukt månedsinntektene  etter at endringen skjedde.</p>
            <p>Beregningen er gjort etter folketrygdloven §§ 14-7 og 8-30</p>

            <p class="boldText">Du må melde fra om endringer</p>
            <p>Dersom det skjer endringer som kan ha betydning for stønaden du får utbetalt, må du
                straks melde  fra til NAV. du finner mer informasjon på nav.no/rettogplikt.</p>

            <p class="boldText">Du har rett til å klage</p>
            <p>Du kan klage innen 6 uker fra den datoen du mottok vedtaket.
                Du finner skjema og informasjon  på nav.no/klage.</p>

            <p class="boldText">Du har rett til innsyn</p>
            <p>På nav.no/dittnavn kan du se dokumentene i saken din.</p>
        </div>

    </div>
</body>
</html>
