<table>
    <thead>
    <tr>
        <td class="tr50"><img src="{{image "FileContent.png"}}" alt="dokument" /><h4>Flyktningstatus</h4></td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Er du registrert som flyktning?</td>
        <td>{{#if flyktningsstatus.registrertFlyktning}} Ja {{else}} Nei {{/if}}</td>
    </tr>

    <tr>
        <td>Er du norsk statsborger?</td>
        <td>{{#if oppholdstillatelse.erNorskStatsborger}} Ja {{else}} Nei {{/if}}</td>
    </tr>
    {{#unless oppholdstillatelse.erNorskStatsborger}}
        <tr>
            <td>Har du oppholdstillatelse i Norge?</td>
            <td>{{#if oppholdstillatelse.harOppholdstillatelse}} Ja {{else}} Nei {{/if}}</td>
        </tr>
        {{#if oppholdstillatelse.harOppholdstillatelse}}
            <tr>
                <td>Er oppholdstillatelsen din permanent eller midlertidig?</td>
                <td>{{#eq oppholdstillatelse.oppholdstillatelseType "MIDLERTIDIG"}} Midlertidig {{else}} Permanent {{/eq}}</td>
            </tr>
        {{/if}}
    {{/unless}}
    <tr>
        <td>Har du statsborgerskap i andre land enn Norge?</td>
        <td>{{#if oppholdstillatelse.statsborgerskapAndreLand}} Ja {{else}} Nei {{/if}}</td>
    </tr>
    {{#if oppholdstillatelse.statsborgerskapAndreLand}}
        <tr>
            <td>Hvilke land har du statsborgerskap i?</td>
            <td>{{oppholdstillatelse.statsborgerskapAndreLandFritekst}}</td>
        </tr>
    {{/if}}
    </tbody>
</table>